body{
    background-color: black;
    color: white;
    margin: 2em;
}


h1{
    margin: auto;
    width: min-content;
    color: white;
    position: relative;
    top: 347.5px;
    display: none;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 2em;
    display: block;
    text-align: center;
}

#detalhes1{
    width: 500px;
    height: 100px;
}

#detalhes2{
    margin-left: 300px;
}

#detalhes-nome{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#detalhes-posicao{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#detalhes-descricao{
    font-size: large;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

#voltar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mascote{
    height: 400px;
    width: 400px;
    margin-left: 770px;
    margin-top: 20px;
}

#detalhes-page{
    display: flex; 
    align-items: center; 
    gap: 1em; 
    flex-direction: row;
}


@media only screen and (max-width: 768px) {
    #detalhes-page{
        display: block;
    }

    .pagina-login,
    .pagina-detalhes {
        width: 100%;
    }
}